body {
    background-color: rgb(212, 127, 100); 
    width:330px;
    margin-right: auto;
    margin-left : auto;
}
.button{
    position: relative;
    top:1.5px;
    height: 23.5px;
    background-color:lightblue;
    color: red;
}
.tel{
  height: 17px;
} 
p{
    border-bottom: dashed 2px purple;
}
h1{
    border-top: solid 3px green;
    border-bottom: solid 3px green;
}
h4{
    border-bottom: dashed 2px gold;
}
h5 {
    word-wrap: break-word;
  }
